html,body,#app{
	margin:0;
	height: 100%;
	font-size:14px;
	color:#333;
	min-width:700px;
	box-sizing: border-box;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text !important;
	font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}
ol,ul,li{list-style:none;margin:0;padding:0}
img{border:0;vertical-align:middle;}
a{color:#2784fb;text-decoration:none;}
a:hover{color:#BA2636;text-decoration:underline;}
div{
	box-sizing: border-box;
}